{{- define "main" }}
<div class="py-6 px-4 md:py-20">
  <h1 class="title">Projects</h1>
  {{ $paginator := .Paginate (where .Pages "Type" "projects") }}
  <div class="grid md:grid-cols-2 gap-6 my-10">
    {{- range $paginator.Pages }}
    <a href="{{ .Permalink }}" class="card">
      {{ if .Params.image }}
      <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="h-48 w-full object-cover">
      {{- end }}
      <div class="px-6 mb-4">
        <h3 class="font-medium my-4">{{ .Title }}</h3>
        <p>{{ .Params.description }}</p>
      </div>
    </a>
    {{- end }}
  </div>
</div>
{{- end }}
