{{- define "main" }}
<div class="py-6 px-4 md:py-20">
  <h1 class="title pb-8 md:pb-20 text-4xl md:text-6xl">{{ .Title }}</h1>
  {{ if .Params.image }}
    <img src="{{ .Params.image | relURL }}">
  {{ end }}
  <div class="my-10 content">
    {{ .Content }}
  </div>
  <a href="{{ .Site.BaseURL}}/{{ .Section }}" class="btn btn-ghost">
    <svg class="w-3 h-3 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18">
      </path>
    </svg>
    <span>Back to {{ .Section }}</span>
  </a>
</div>
{{- end }}
