{{- define "main" }}
<div class="py-6 px-4 md:py-20">
  <div class="mt-12 grid md:grid-cols-6 md:gap-16">
    <section class="md:col-span-4">
      <h1 class="title leading-10 text-center pb-8 md:pb-10">{{ .Title }}</h1>
      <div class="mt-6 mb-10 text-center text-base md:text-lg text-gray-700">
        {{ if .Params.author }}
        <span>{{ .Params.author }}</span>
        <span class="px-1">|</span>
        <span>{{ .Date.Format "2 Jan 2006" }}</span>
        {{ else }}
        <span></span>
        {{- end }}
      </div>
      {{ if .Params.image }}
      <div class="mx-auto max-w-3xl">
        <img
          src="{{ .Params.image | relURL }}"
          class="rounded-md object-cover"
        />
      </div>
      {{ end }}
      <div class="content my-10">{{ .Content }}</div>
      <a
        href="{{ .Site.BaseURL}}{{ .Section }}"
        class="btn btn-ghost my-10 inline-block"
      >
        <div class="flex items-center">
          <svg
            class="inline-flex h-3 w-3 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 19l-7-7m0 0l7-7m-7 7h18"
            ></path>
          </svg>
          <p class="capitalize text-base md:text-lg">Back to {{ .Section }}</p>
        </div>
      </a>
    </section>

    {{ if .Params.toc | default true }}
    <aside class="hidden md:col-span-2 md:block">
      <div class="toc">
        <h5 class="mb-6 text-2xl font-semibold tracking-wider">
          Table of Contents
        </h5>
        {{ .TableOfContents }}
      </div>
    </aside>
    {{- end }}
  </div>
</div>
{{- end }}
