<!DOCTYPE html>
<html lang="en" class="font-body scroll-smooth">
  {{- partial "head.html" . }}
  <body class="h-screen flex flex-col">
    {{ if .Site.Params.gtm }}
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {{- end }}

    {{- partial "header.html" . -}}
    <main class="max-w-5xl mx-auto mb-auto w-full">
    {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}

    {{ $scripts := resources.Get "js/index.js" -}}
    <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  </body>
</html>
