{{- define "main" }}
<div class="py-6 px-4 lg:px-0 md:py-12">
  <div class="px-4 {{if .Param "toc"}}flex gap-x-10{{end}}">
    <section class="overflow-hidden {{if .Param "toc"}}lg:w-2/3{{end}}">
      {{ with .Title -}}
      <h1 class="title leading-10 text-center pb-4 md:pb-10">{{ . }}</h1>
      {{ end -}}

      <div class="md:mt-6 mb-4 text-center text-base md:text-lg">
        {{ if .Params.author -}}
        <p class="text-gray-700">{{ .Params.author }}</p>
        {{- end }}
        <p class="text-gray-600">{{ .Date.Format "2 Jan 2006" }}</p>
      </div>
      <div class="text-center mb-10">
        <span class="text-gray-600 text-base">Reading time {{ .ReadingTime }} mins.</span>
      </div>

      {{ partial "webp_image.html" . }}
      <div class="content my-4 lg:my-10">{{ .Content }}</div>
      <a
        href="{{ .Site.BaseURL}}{{ .Section }}"
        class="btn btn-ghost my-10 inline-block"
      >
        <div class="flex items-center">
          <svg
            class="inline-flex h-3 w-3 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 19l-7-7m0 0l7-7m-7 7h18"
            ></path>
          </svg>
          <p class="capitalize text-sm md:text-base">Back to {{ .Section }}</p>
        </div>
      </a>
    </section>

    {{ if .Param "toc" | default false }}
    <aside class="hidden lg:block {{if .Param "toc"}}lg:w-1/3{{end}}">
      <section class="toc">
        <h2 class="mb-6 text-2xl font-semibold tracking-wider">
          Table of Contents
        </h2>
        {{ .TableOfContents }}
      </section>
    </aside>
    {{- end }}
  </div>
</div>
{{- end }}
