{{- define "main" }}
<div class="py-6 px-4 md:py-20">
  <h1 class="title pb-8 text-center md:pb-10">{{ .Title }}</h1>
  {{ if .Params.image }}
  <div class="mx-auto max-w-3xl">
    <img src="{{ .Params.image | relURL }}" class="rounded-md object-cover" />
  </div>
  {{ end }}
  <div class="content my-10">{{ .Content }}</div>
  <a
    href="{{ .Site.BaseURL}}{{ .Section }}"
    class="btn btn-ghost my-10 inline-block"
  >
   <div class="flex items-center">
    <svg
      class="inline-block h-3 w-3"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 19l-7-7m0 0l7-7m-7 7h18"
      ></path>
    </svg>
    <p class="capitalize">Back to {{ .Section }}</p>
   </div>
  </a>
</div>
{{- end }}
