{{- define "main" }}
<div class="py-6 px-4 md:py-12">
  {{ with .Title -}}
    <h1 class="title leading-10 text-center pb-4 md:pb-10">{{ . }}</h1>
  {{ end -}}
  {{ partial "webp_image.html" . }}
  <div class="content my-4 lg:my-10">{{ .Content }}</div>
  <div class="mx-auto max-w-3xl">
    <a
      href="{{ .Site.BaseURL}}{{ .Section }}"
      class="btn btn-ghost my-10 inline-block"
    >
      <div class="flex items-center">
        <svg
          class="inline-flex h-3 w-3 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          ></path>
        </svg>
        <p class="capitalize text-sm md:text-base">Back to {{ .Section }}</p>
      </div>
    </a>
  </div>
</div>
{{- end }}
