{{- define "main" }}
<div class="py-6 px-4 md:py-12">
  <h1 class="title leading-10 text-center pb-4 md:pb-10">{{ .Title }}</h1>
  {{- with .Params.image }}
  {{- $image := resources.Get . -}}
  {{ $webp := $image.Resize (printf "%dx%d webp picture" $image.Width $image.Height) }}
  <picture>
    <source srcset="{{ $webp.RelPermalink }}" type="image/webp" >
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}"
      height="{{ $image.Height }}" loading="lazy" class="object-cover rounded-md max-w-full"
    >
  </picture>
  {{ end }}
  <div class="content my-4 lg:my-10">{{ .Content }}</div>
  <div class="mx-auto max-w-3xl">
    <a
      href="{{ .Site.BaseURL}}{{ .Section }}"
      class="btn btn-ghost my-10 inline-block"
    >
      <div class="flex items-center">
        <svg
          class="inline-flex h-3 w-3 mr-2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          ></path>
        </svg>
        <p class="capitalize text-base md:text-lg">Back to {{ .Section }}</p>
      </div>
    </a>
  </div>
</div>
{{- end }}
