@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-sans-500.woff2') format('woff2'),
        url('../fonts/merriweather-sans-500.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/merriweather-sans-600.woff2') format('woff2'),
        url('../fonts/merriweather-sans-600.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-display: swap;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Merriweather, sans-serif;
  }
  span, a, p  {
    font-family: Inter, sans-serif;
  }
  ::selection {
    background: #f0abfc;
  }
}

@layer components {
  .title {
    @apply text-xl font-semibold text-gray-700 lg:text-3xl font-display;
  }
  .btn {
    @apply rounded-md border border-transparent px-4 py-2 text-lg leading-4 shadow-sm;
  }
  .btn-fullwidth {
    @apply block w-full text-center;
  }
  .btn-primary {
    @apply bg-fuchsia-600 text-white hover:bg-fuchsia-700;
  }
  .btn-ghost {
    @apply border border-gray-400 bg-gray-100 text-gray-700 hover:bg-gray-200;
  }
  .active {
    @apply text-base md:text-lg text-fuchsia-600;
  }
  .active-footer {
    @apply text-sm md:text-base text-fuchsia-600;
  }
  .card {
    @apply overflow-hidden rounded-md border border-gray-400 bg-gray-50 shadow-sm;
  }
  .card-inner-text p {
    @apply my-6 text-gray-700;
  }
  .card-inner-text h3 {
    @apply text-lg md:text-xl font-display;
  }
  .label {
    @apply block text-sm font-medium leading-6 text-gray-900;
  }
  .input-text {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset
    ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-fuchsia-600
    sm:text-sm sm:leading-6;
  }
  code {
    @apply text-fuchsia-600 font-mono text-base;
  }

  .content h1 {
    @apply my-4 text-4xl;
  }
  .content h2 {
    @apply my-4 text-3xl;
  }
  .content h3 {
    @apply my-4 text-2xl;
  }
  .content h4 {
    @apply my-4 text-xl;
  }
  .content h5 {
    @apply my-4 text-lg;
  }
  .content p {
    @apply my-8 text-lg;
  }
  .content a {
    @apply text-fuchsia-600 underline decoration-fuchsia-600 hover:text-purple-500
    hover:decoration-purple-500;
  }
  .content strong {
    @apply font-bold;
  }
  .content ul, ol {
    @apply my-2 text-lg;
  }
  .content ol > li {
    @apply list-decimal list-inside text-lg;
  }
  .content li {
    @apply ml-4 list-disc list-inside text-lg;
  }
  .content .highlight {
    @apply py-4;
  }
  .content .highlight pre {
    @apply py-4 px-4 font-mono overflow-x-scroll;
  }
  .content blockquote {
    @apply ml-4 border-l-4 border-fuchsia-600;
  }
  .content blockquote p {
    @apply ml-4;
  }
  .content table {
    @apply divide-y divide-gray-300;
  }
  .content thead {
    @apply bg-gray-50;
  }
  .content tr {
    @apply divide-x divide-gray-200;
  }
  .content tr > th {
    @apply py-3 pl-4 pr-4 text-left text-sm font-semibold text-gray-900;
  }
  .content tr > td {
    @apply whitespace-nowrap py-3 pl-4 pr-4 text-sm font-medium text-gray-900;
  }
  .tags {
    @apply mx-1 my-1 inline-block rounded-md border border-gray-300 bg-gray-50 px-2.5 py-2 text-sm
      text-gray-500 hover:bg-gray-100 hover:text-fuchsia-600;
  }
  .toc {
    @apply sticky top-4 bg-gray-50 px-3 py-4 text-sm text-gray-600;
  }
  .toc ul,
  .tocl ol {
    @apply mb-4 pl-6;
  }
  .toc ol li a,
  .toc ul li a {
    @apply hover:text-fuchsia-600;
  }
}
