{{ if .Site.Params.blog.enable | default true }}
<section>
  <div class="py-6 px-4 md:py-20">
    <div class="text-center">
      <p class="text-gray-600 mb-2.5 text-lg">{{ .Site.Params.blog.title }}</p>
      <h2 class="text-gray-800 font-semibold font-display text-xl md:text-3xl">{{ .Site.Params.blog.topTitle }}</h2>
    </div>
    <div class="my-12">
      {{- with ( where site.RegularPages ".Section" "in" site.Params.mainSections) }}
      <div class="grid gap-5 md:grid-cols-3">
        {{ range first 3 .}}
          {{ partialCached "card.html" . .Permalink }}
        {{ end }}
      </div>
      {{- end }}
    </div>
  </div>
</section>
{{- end }}
