<head>
  {{ if .Site.Params.googleAnalytics }}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
  <script>
    var dataLayer = window.dataLayer || [];
    dataLayer.push({
      PageTitle: {{ .Title }}
    });
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.googleAnalytics }}');
  </script>
  {{ end }}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- if .IsHome }}
  <meta name="description" content="{{ site.Params.Description }}">
  {{- else}}
  <meta name="description" content="{{ .Params.Description }}">
  {{- end -}}

  <link rel="icon" href={{ .Site.Params.favicon | default "/favicon.png" }} type="image/gif">
  <link rel="canonical" href="{{ .Permalink }}" />

  {{/* Font */}}
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  {{/* Internal templates */}}
  {{ template "_internal/twitter_cards.html" . }}

  {{ $styles := resources.Get "css/output.css" | postCSS  }}
  {{ if .Site.IsServer}}
  <link rel="stylesheet" type="text/css" href="{{ $styles.Permalink }}">
  {{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
  {{ end }}

  <title>
    {{- if .IsHome -}}
      Home | {{ .Site.Title }}
    {{- else if .Page.Title -}}
      {{ .Page.Title }} | {{ .Site.Title }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
  </title>
</head>
