<head>
  {{/* GTM */}}
  {{ if .Site.Params.gtm_id }}
    {{- partial "gtm.html" . }}
  {{- end }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href={{ .Site.Params.favicon | default "/favicon.png" }} type="image/gif">

  {{/* Fonts */}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

  {{/* Internal templates */}}
  {{ template "_internal/google_analytics_async.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link rel="stylesheet" href="/css/output.css">
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title := .Site.Title }}{{- end }}
  <title>{{ $title }}</title>
</head>
