<section>
  <div class="py-6 px-4 md:py-20">
    <div class="grid md:grid-cols-2 justify-items-center items-center">
      <div class="h-full w-2/3 order-2 md:order-1 mt-8 md:mt-0">
        <img src="{{ .Site.Data.hero.image | relURL }}" alt="{{ .Site.Data.hero.name }}">
      </div>
      <div class="order-1 md:order-2">
        <h1 class="font-[700] text-3xl md:text-4xl text-gray-800">
          {{ .Site.Data.hero.title }}
        </h1>
        <p class="my-4 text-gray-600">{{ .Site.Data.hero.body }}</p>
      </div>
    </div>
    <div class="my-6 text-fuchsia-600 flex justify-end">
      <a href="#">
        <svg class="w-16 h-16" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path>
        </svg>
      </a>
    </div>
  </div>

</section>
