{{ if .Site.Params.projects.enable | default true }}
<section>
  <div class="py-6 px-4 md:py-20 border-b border-gray-200">
    <div class="text-center">
      <p class="text-gray-600 mb-2.5 text-lg">{{ .Site.Params.projects.title }}</p>
      <h2 class="text-gray-800 font-semibold font-display text-xl md:text-3xl">{{ .Site.Params.projects.topTitle }}</h2>
    </div>
    <div class="my-12">
      <div class="grid gap-5 md:grid-cols-3">
        {{- range ( where .Site.RegularPages "Type" "projects" ) | first 3 }}
        {{ partialCached "card.html" . .Permalink }}
        {{- end }}
      </div>
    </div>
  </div>
</section>
{{- end }}
