{{ $br := .Scratch.Get "br" | default "rounded-md" }}

{{- $image := .Resources.GetMatch "cover.*" -}}
{{- $respSizes := slice "320" "640" "1200" -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}
{{ if $image }}
<picture>
  <source
    type="image/webp"
    srcset="
    {{- with $respSizes -}}
      {{- range $i, $e := . -}}
        {{- if ge $image.Width . -}}
          {{- if $i }}, {{ end -}}{{- ($image.Resize (printf "%sx%s" . " webp") ).RelPermalink }} {{ . }}w
        {{- end -}}
      {{- end -}}
    {{- end -}}"
    sizes="{{ $dataSzes }}"
  />
  <source
    type="image/jpeg"
    srcset="
    {{- with $respSizes -}}
      {{- range $i, $e := . -}}
        {{- if ge $image.Width . -}}
          {{- if $i }}, {{ end -}}{{- ($image.Resize (printf "%sx%s" . " jpg") ).RelPermalink }} {{ . }}w
        {{- end -}}
      {{- end -}}
    {{- end -}}"
    sizes="{{ $dataSzes }}"
  />
  <img
    alt={{ .Title }}
    src="{{ $image.RelPermalink }}"
    width="{{ $image.Width }}"
    height="{{ $image.Height }}"
    loading="lazy"
    alt="{{ .Title }}"
    class="aspect-[16/9] w-full object-cover sm:aspect-[2/1] lg:aspect-[3/2] {{$br}} "
  >
</picture>
{{ end -}}
